<section class="page">
  <div class="categories">
    <div class="categories_content">
      <h2><a href="/products"><%= t('menu.shop') %></a></h2>
      <% @taxonomies = Spree::Taxonomy.includes(root: :children) %>
      <%= render :partial => 'spree/shared/left_taxo' %>
    </div>
  </div>
  <div class="centre_page" id="confirm_paiement">
    <div class="centre_page_content">
      <h2><%= I18n.t('cyber_plus_paiement.checkout_validation_title') %></h2>
      <ol class="progress-steps" id="checkout-step-delivery">
        <li class="completed-first"><span><a href="/checkout/address">Adresse</a></span></li>
        <li class="current"><span><a href="/checkout/delivery">Livraison</a></span></li>
        <li class="current"><span>Paiement</span></li>
        <li class="next"><span>Terminée</span></li>
      </ol>
      <p class="error"><%= flash[:error].html_safe if flash[:error]%></p>
      <table id="cart-detail">
      <thead>
        <tr>
            <th class="cart-item-description-header" colspan="2"><%= Spree.t(:item) %></th>
            <th class="cart-item-quantity-header"><%= Spree.t(:qty) %></th>
            <th class="cart-item-price-header"><%= Spree.t(:price) %></th>
        </tr>
      </thead>
      <%= render :partial => 'spree/shared/order_summary', locals: {order: @order} -%>
        <tr>
          <td colspan="3"></td>
          <td class="pay_now">
              <%= form_tag @payment_method.preferred_url do -%>
                <%= @payment_method.build_request(@order).map{ |k, v| hidden_field_tag(k.to_s, v) }.join.html_safe %>
                <%= submit_tag I18n.t('cyber_plus_paiement.checkout_validation_submit'), :class => 'checkout_btn' %>
              <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>