<div id="confirm_paiement">
	<% form_tag @payment_method.preferred_url do -%>
	  <h2><%= I18n.t('cyber_plus_paiement.checkout_validation_title') %></h2>
	  <fieldset id="order_details">
	    <legend><%= I18n.t('cyber_plus_paiement.checkout_validation_confirm') %></legend>
	    <%= render :partial => 'shared/order_details', :locals => {:order => @order} -%>
	  </fieldset>
	  <br/><br/>
	  <p><%= I18n.t('cyber_plus_paiement.checkout_validation_instructions') %></p>
	  <br/><br/>
		<%= build_form_data(@payment_method, @order) %>
		<%= submit_tag I18n.t('cyber_plus_paiement.checkout_validation_submit') %>
	<% end %>
</div>